$clr-primary-10: #1b3a4b;
$clr-primary-20: #144552;
$clr-primary-30: #0b525b;
$clr-primary-40: #065a60;
$clr-primary-50: #006466;
$clr-secondary-10: #212f45;
$clr-secondary-20: #272640;
$clr-secondary-30: #312244;
$clr-secondary-40: #3e1f47;
$clr-secondary-50: #4d194d;

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	width: 100svw;
	width: 100vw;
	min-height: 100svh;
	min-height: 100vh;
}

h1 {
	font-size: 2em;
	font-size: clamp(2rem, 0.8rem + 3.84vw, 3.2rem);
	line-height: 1.1;
	margin-bottom: 0.5em;
}
h2 {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	max-width: 32rem;
	margin-inline: auto;
}

button {
	border-radius: 8px;
	border: 3px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1.5rem;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	transition: border-color 0.25s;
	cursor: pointer;
	&:hover {
		border-color: $clr-secondary-50;
	}
	&:focus,
	&:focus-visible {
		outline: 4px auto $clr-secondary-50;
	}
	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

#root {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 1rem;
	padding: clamp(1rem, -2rem + 8vw, 2rem);
	text-align: center;
}

.App {
	padding: 1rem;
	padding: clamp(1rem, -2rem + 8vw, 2rem);
	background-color: $clr-primary-10;
	border-radius: 1rem;
	box-shadow: 2px 6px 28px 3px rgba($color: $clr-primary-50, $alpha: 0.5);
	position: relative;
	height: calc(100svh - 10rem);
	height: calc(100svh - 10rem);
	display: grid;
	align-items: center;
	max-height: 900px;
	overflow: hidden;
}
.game-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.game-dices {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	margin-block: 4rem;
}
.dice {
	display: block;
	border-radius: 10px;
	width: 8rem;
	height: 8rem;
	background-color: $clr-secondary-50;
	font-size: 5rem;
	line-height: 1;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}
.cow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	opacity: 0;
	transition: opacity 0.2s linear;

	&.is-visible {
		display: block;
	}
	&.is-active {
		opacity: 1;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media (min-width: 801px) {
	#root,
	.App {
		padding: 2rem;
	}
}
@media (min-width: 1001px) {
	h1 {
		font-size: 3.2rem;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
